 <!--Llamamo al html de la cabecera-->
 {% if categorias is defined %}
  <!--Cuando se loguea el usuario-->
 
 
 <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" id="thinder" href="http://localhost/proyectofinal/proyectoThinder/web/app_dev.php/catServ">Thinder</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        
        <li class="nav-item">
          <select name="categoria" class="form-control" id="categoriasServ">
            <option value="0">--Elige categoria--</option>
              {% for categoria in categorias %}

              <option value="{{categoria.idCategoriaProductos}}">{{categoria.nombre}}</option>
              {% endfor %}
            
          </select>
        </li>
        
        <form class="form-inline my-2 my-lg-0">
            <input  id="buscar"  class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button onclick="buscarProducto()" class="btn btn-outline-success my-2 my-sm-0" type="button">Buscar</button>
          </form>
      </ul>
      <ul class="navbar-nav mr-auto">
        
        
        <li class="nav-item">
            {% if app.user %}
           
            <a type="button" href="{{ path('paginaPrincipal') }}" class="btn btn-primary">
                Mi zona
            </a>
           {% else %}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                Regístrate o inicia sesión
              </button>
              {% endif %}
        </li>
       
      
        
      </ul>
    </div>
  </nav>
  <!-- Modal para inicia sesión -->
  <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Registrate o inicia sesión</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
              
            <div class="form-group"><a type="button" href="{{ path('registroUsuario') }}"  class="btn btn-info"  style="margin-left:25%;width:50%;"  id="registrarse">Regístrate</a></div>

            <button type="button" style="display:none;" id="atras" onclick="volverAtras()">
              Atras</button>
            
            <div class="form-group"><button class="btn btn-info" style="margin-left:25%;width:50%;" type="button" id="sesion" onclick="formSesion()">Inicia sesion</button></div>
            <div class="form" id="formUsu" style="display:none;">
                <div class="col-lg-12 box-form">
                  <h2>Identificarse</h2>
                  <hr/>
                  {% if error is defined %}
                      <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                  {% endif %}
                  <form action="{{path('catServicio')}}" method="POST">
                      <label>Email</label>
                      <input type="text" id="_username" name="_username"  class="form-control">
          
                      <label>Contraseña</label>
                      <input type="password" id="_password" name="_password" class="form-control">
                      <input type="submit" value="Entrar" class="btn btn-success"/>
                      
                  </form>
              </div>
              </div>
             
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
          
        </div>
      </div>
    </div>

   {% endif %}
    
  