{% extends 'base.html.twig' %}
{% block body %}
<div class=" detalle_body container">
    
        <div class="info_usuario">
                <div class="foto_usuario" style="background-image: url('data:image/jpeg;base64,{{imagenCod1[usuario.idusuarios] }}'
                )">
               
                </div>
        <span class="nombreUsuario">{{usuario.nombre}}</span>
        <div class="numero_productos">
            <span>{{numProductosUsuario[0][1]}}</span>
            <span>Productos</span>
        </div>

       {%  if app.user %}

        <a class=" chat_usuario btn btn-info" href="{{url("chat",{"idProducto":producto.idproductos,"idUsuario":producto.usuariosusuarios.idusuarios})}}">Escribir</a>

        {% else %}
        <button type="button" class="chat_usuario btn btn-info" data-toggle="modal" data-target="#myModal">
            Escribir
          </button>

        {% endif %}
    </div>
    <div class="imagen">
    <img src="data:image/jpeg;base64,{{imagenCod2[producto.idproductos]}}"/></br>
    </div>
    <div>
    <span class="detalle_precio">{{producto.precio}} €</span>
    </div>
    <h1>{{producto.nombre}}</h1>
    <hr>
    <p class="desc">{{producto.descripcion}}</p><hr>
    
    
    </div>


{% endblock %}