{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="ubicacion">
        
        </div>

        

    <div class="info_usuario">
            <div class="foto_usuario" style="background-image: url('data:image/jpeg;base64,{{imagenCod1[usuario.idusuarios] }}'
            )">
    </div>
    <span class="nombreUsuario">{{usuario.nombre}}</span>
    <div class="numero_productos">
        <span>{{numProductosUsuario[0][1]}}</span>
        <span>Productos</span>
    </div>
</div>

{% for producto in productos %}
<a class="detalle_producto" href="{{url("detalle_producto",{"id_producto":producto.idproductos,"id_usuario":producto.usuariosusuarios.idusuarios})}}">
<div class="producto">
    <img width="200" height="200" src="data:image/jpeg;base64,{{imagenCod[producto.idproductos]}}"/></br>
    <span class="precio">{{producto.precio}}€</span></br>
    <span class="nombre">{{producto.nombre}}</span></br>
    <span class="nombre">{{producto.descripcion}}</span></br>
</div>
</a>

    

    {% endfor %}




{% endblock %}