{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="ubicacion">
        
        </div>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10217.776136326813!2d-3.7050217612198457!3d40.41410034987324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422882206247fb%3A0x13e06d1807b60624!2sCortes%2C+Madrid!5e0!3m2!1ses!2ses!4v1523094885346" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

    <div class="info_usuario">
            <div class="foto_usuario" style="background-image: url('data:image/jpeg;base64,{{imagenCod1[usuario.idusuarios] }}'
            )">
    </div>
    <span class="nombreUsuario">{{usuario.nombre}}</span>
    <div class="numero_productos">
        <span>{{numProductosUsuario[0][1]}}</span>
        <span>Productos</span>
    </div>
</div>

{% for producto in productos %}
<a class="detalle_producto" href="{{url("detalle_producto",{"id_producto":producto.idproductos,"id_usuario":producto.usuariosusuarios.idusuarios})}}">
<div class="producto">
    <img width="200" height="200" src="data:image/jpeg;base64,{{imagenCod[producto.idproductos]}}"/></br>
    <span class="precio">{{producto.precio}}€</span></br>
    <span class="nombre">{{producto.nombre}}</span></br>
    <span class="nombre">{{producto.descripcion}}</span></br>
</div>
</a>

    

    {% endfor %}




{% endblock %}